html, body {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none; }

.site-container, .side-header {
  padding: 0px 35px; }

.side-header {
  background: #2B3546;
  height: 80px;
  color: white;
  position: relative; }

.site-footer__nav,
.site-header__nav {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0px; }

.site-footer {
  margin-top: 40px;
  padding-bottom: 40px; }

.site-footer__nav {
  position: relative;
  text-align: center; }

.site-footer__nav-item,
.site-header__nav-item {
  display: inline; }

.site-footer__nav-item > a,
.site-header__nav-item > a {
  display: inline-block;
  padding: 15px 25px 5px 25px;
  color: white;
  font-weight: bolder; }

.site-header__nav-item > a:hover {
  background: #828ea2; }

.top-section {
  background: #7B7B7B;
  min-height: 450px;
  text-align: center; }

.banner__name {
  padding: 50px 0px 30px 0px;
  color: white;
  font-size: 80px;
  font-weight: bolder; }

.banner__line {
  width: 90%;
  margin: auto;
  height: 1px;
  background: black;
  margin-bottom: 40px; }

.banner__pitch {
  color: black; }

.banner__pitch-character {
  padding: 20px; }

.banner__pitch-character li {
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 20px; }

.black-box {
  width: 50px;
  height: 50px;
  background: black;
  display: inline-block;
  margin-bottom: -9px; }

.banner__download-resume {
  background: #269014;
  border: 4px solid #4FAD40;
  border-radius: 2px;
  color: white;
  line-height: 35px;
  height: 35px;
  width: 300px;
  display: inline-block;
  text-transform: uppercase; }

.main-section {
  background: #383838;
  min-height: 600px;
  padding-top: 20px; }

.main-section__portfolio,
.main-section__contact {
  margin-bottom: 20px; }

.contact__header,
.portfolio__header {
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  background-color: #2B3546;
  font-size: 20px; }

.contact__content,
.portfolio__content {
  min-height: 200px;
  background: white;
  padding: 10px 15px; }

.site-footer {
  color: white; }
